body{
    font-family: Lato, "sans-serif";
    font-weight: 300;
    padding: 2em;
    background: rgb(0,153,153);
    background: linear-gradient(90deg, rgba(0,153,153,0.34) 0%, rgba(51,204,51,0.34) 100%);
}


header {
    font-family: Odibee Sans, "sans-serif";
    font-size: 1.6em;
    color: beige;
}

footer {
    position: fixed;
    margin-top: 2em;
    bottom: 10px;
}

a{
    font-family: Odibee Sans, "sans-serif";
    font-size: 1.2em;
    color: beige;
    text-decoration: none;
}

#imgSect{
    display: flex;
    align-content: space-between;
    justify-content: center;
    padding: 2em;
}

#mugSect, #flashSect, #knifeSect{
    padding: 1em;
} 

.mugCircle, .flashCircle, .knifeCircle{
    margin: 1em;
    background-color: beige;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    transition: 2s;
}

.mugRect, .flashRect, .knifeRect{
    margin: 1em;
    width: 300px;
    height: 500px;
    background-color: beige;
    border-radius: 0%;
    transition: 2s;
}

.invisible{
    display: none;
}

.visible{
    color:rgb(70, 70, 70);
    animation-name: fadeText;
    animation-duration: 4s;
}

@keyframes fadeText {
    from {opacity: 0%}
    to {opacity: 100%}
}

