/* @media only screen and (min-width: 600px) { 
    main {
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    article {
        width: 50%;
    }

    body {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
} */

body {
    padding: 2em;
}

nav{
    margin: 2em;
}

header{
    border-style: solid;
    border-color: #ef4136;
    text-align: center;
    margin-left: 2em;
    margin-right: 2em;
}

article {
    background-color: #e6f3e9;
    padding: 1em;
    margin: 2em;
}

img {
    display: flex; 
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}

footer {
    text-align: center;
    padding: 2em;
    background: #ef4136;
    margin-top: 2em;
    color: #e6f3e9;
}

/*type*/

h1, h2, a, p {
    font-family: "Open+Sans", sans-serif;
    color: #231f20;
}

h1 {
    font-size: 1.3em;
    font-weight: 600;
    line-height: 1.3em;
}

h2 {
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.2em;
}

p, nav{
    font-size: 1em;
    font-weight: 300;
    line-height: 1.6em;
}

nav a {
    text-decoration: none;
    color: #ef4136;
}

.material-icons {
    color: #ef4136;
}

.lightlinks a {
    color: #e6f3e9;
}

